@model MCEI.SysControlAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<br />
<h1>Formulario Cambiar Contraseña Actual</h1>
<span>@ViewBag.Error</span>
<hr />
<div>
    <br />
    <h3>Información Actual</h3>
    <form id="Form" asp-action="ChangePassword" onsubmit="CreateRecord(event)">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" disabled class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contraseña Actual</label>
                    <input type="password" name="oldPassword" required class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nueva Contraseña</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ConfirmPassword_Aux">Confirmar Contraseña</label>
                    <input asp-for="ConfirmPassword_Aux" class="form-control" />
                    <span asp-validation-for="ConfirmPassword_Aux"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success m-1">Regresar Al Inicio</a>  |
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        // Funcion para la estructura de la Alerta
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }
        // Función para manejar el evento de envío de formulario
        function CreateRecord(e) {
            e.preventDefault(); // Prevenir el envío del formulario

            const form = document.getElementById('Form');

            // Mostrar alerta de confirmación antes de enviar el formulario
            Swal.fire({
                title: '¿Modificar Contraseña?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, Modificar Contraseña',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Enviar el formulario si se confirma la acción
                }
            });
        }
    </script>
}