@{
    ViewData["Title"] = "Inicio";
}

<link href="/css/Home/DesignHome.css" rel="stylesheet" />

<div class="bienvenida">
    <div>
        <img class="elimLogo" src="/assets/images/logos/Logo-Elim-Black.png" alt="Alternate Text" width="200" />
        <h3 class="font-weight-bold">¡Bienvenido De Vuelta!</h3>
        <h6 class="font-weight-normal mb-0">Sistema De Registro Administrativo - Misión Cristiana Elim Izalco</h6>
    </div>
</div>