@model MCEI.SysControlAdmin.EN.Privilege___EN.Privilege

@{
    ViewData["Title"] = "Crear Privilegio";
}

<br />
<h1>Formulario Crear Privilegio</h1>
<span>@ViewBag.Error</span>
<hr />

<script>
    // Funcion Asyncrona Que espera una respuesta, Ademas de validar y muestra alerta de confirmacion
    async function ShowCreatePrompt() {
        const { value: name } = await Swal.fire({
            title: 'Ingrese El Nombre Del Privilegio',
            input: 'text',
            inputAttributes: {
                placeholder: 'Ingresar' // Agregamos el atributo para placeholder
            },
            inputLabel: 'Nombre del Privilegio',
            showCancelButton: true,
            confirmButtonText: 'Guardar',
            cancelButtonText: 'Cancelar',
            inputValidator: (value) => {
                if (!value) {
                    return 'Por Favor, Ingresa Un Nombre Valido.';
                } else if (!/^[a-zA-ZáéíóúÁÉÍÓÚñÑ/ ]+$/.test(value.trim())) {
                    return 'Solo Solo Se Permiten Letras y Espacios En El Nombre.';
                }
                return ''; // No hay mensaje de error si se supera la validación
            },
            reverseButtons: true // Adición de la propiedad 'reverseButtons' para el orden personalizado de los botones
        });

        if (!name) {
            window.location.href = '@Url.Action("Index", "Privilege")'; // Redirigir a la acción Índice si el nombre está vacío
            return; // Salga de la función si el nombre está vacío
        }

        document.getElementById('Name').value = name;
        Swal.fire({
            title: '¿Guardar Nuevo Privilegio?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Si, Guardar Privilegio',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('Form').submit();
            } else {
                window.location.href = '@Url.Action("Index", "Privilege")'; // Redirigir a la acción Índice al hacer clic en el botón 'Cancelar'
            }
        });
    }
    window.onload = ShowCreatePrompt; // Llamar a la función al cargar la página

    function showErrorAlert(message) {
        Swal.fire({
            title: 'Error',
            text: message,
            icon: 'error'
        });
    }

    // Mostrar alerta de ViewBag.Error si es necesario
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        @:showErrorAlert('@ViewBag.Error');
    }
</script>

<form asp-action="CreatePrivilege" id="Form">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" id="Name" name="Name" />
</form>